body{
    background-image: url('image14.jpg');  
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 38.75%;
    margin-top: 10%;
}
.box2{
    border: #FFFFFF;

}